<div class="container">
  <form>

    <h3>Add a link</h3>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Title:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Link:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
    </div>
    
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button class="btn btn-primary me-md-2" type="button">Submit link</button>
      
    </div>
  </form>
  